<c-navbar colorScheme="light" expand="md" class="nvip-header">
  <c-container fluid style="justify-content: left">
    <a cNavbarBrand (click)="goToSafely([''])" class="nvip-logo">
      <img src="assets/images/nvip-simple-logo.jpg" alt="NVIP" />
    </a>
    <div class="collapse-button">
      <button [cNavbarToggler]="collapseRef"></button>
    </div>
    <div class="nvip-header-container">
      <div #collapseRef="cCollapse" navbar cCollapse
      id="userView"
      class="nvip-header-links"
      style="display: flex; width: 100%"
      >
        <!-- <div id="userView"> -->
        <c-navbar-nav class="me-auto mb-2 mb-lg-0" style="width: 100%">
          <c-nav-item class="nvip-header-link">
            <a cNavLink (click)="goToSafely(['about'])">About NVIP</a>
          </c-nav-item>
          <c-nav-item class="nvip-header-link">
            <a cNavLink (click)="goTo(['recent'])">Recent Vulnerabilities</a>
          </c-nav-item>
          <c-nav-item class="nvip-header-link">
            <a cNavLink (click)="goTo(['search'])">Search</a>
          </c-nav-item>
          <c-nav-item class="nvip-header-link">
            <a
              cNavLink
              id="adminElement"
              class="nvip-header-link"
              href="#review/"
              >Review</a
            >
          </c-nav-item>
          <c-nav-item id="userBlock" style="width: 100%;"></c-nav-item>
          <c-nav-item class="nvip-header-link" *ngIf="!isLoggedIn()">
            <a (click)="openLogin()">Login</a>
          </c-nav-item>

          <c-nav-item [hidden]="!isLoggedIn()" class="nvip-header-user-icon-container">
            <p class="nvip-user-label" [hidden]="!isLoggedIn()">
              Welcome, {{ getFirstName() }}
            </p>
            <fa-icon
              [icon]="faSignOut"
              class="nvip-header-user-icon"
              [hidden]="!isLoggedIn()"
              aria-hidden="true"
              (click)="logOut()"
              href="#"
            ></fa-icon>
          </c-nav-item>
        </c-navbar-nav>
        <!-- </div> -->
      </div>
    </div>
  </c-container>
</c-navbar>