<div class=" bg-header cairo topheader">
    <header class="border-bottom border-2">
        <div class="row px-0 mx-0 py-2">
            <div class="col-md-3   d-none d-md-block">
                <img src="../../../../assets/img/logo2.png" class="logo-left mx-3 mt-2" />
            </div>
            <div class="col-md-6 mt-3 text-center">
                <h4 class=" pb-3 font-weight-bold text-primary-emphasis"> 
                    National Vulnerability Intelligence Platform 
                </h4>
            </div>
            <div class="col-md-3 mt-3">
                <a style="font-size: 22px;" class="text-primary-emphasis hover-green float-end" 
                [routerLink]="['/vulnerabilities']" [queryParams]="{ page: '1'}" [routerLinkActive]="'active bg-transparent'">
                   <i class="fa fa-list-dots mr-2"></i> Vulnerabilities
                </a>
            </div>
        </div>
    </header>
</div>