<div id="nvipContent" class="nvip-content-container col-12">
    <div class="nvip-loading-bar col-12">
        <div class="nvip-loading-bar-text-ctn">
            <fa-icon [icon]="faSpinner" animation="spin" size="3x" [fixedWidth]="true" [ngStyle]="{ color: 'white'}"></fa-icon>
            <span>Loading search results...</span>
        </div>
    </div>
    <div class="nvip-search-result-header col-12">
        <p>{{update.cve_id}} Review</p>
    </div>
    <div class="nvip-search-form-ctn">
        <form novalidate class="nvip-search-form col-12" #form="ngForm" (ngSubmit)="updateVuln($event, form, vuln)">
            <div class="nvip-form-horizontal-block">
                <c-container>
                    <c-row>
                        <c-col>
                            <div class="nvip-form-field" style="min-width: 300px;">
                                <label for="desc">Description: </label>
                                <textarea if="desc" name="desc" style="width: 100%;" descriptionArea="" rows="8" [(ngModel)]="update.desc"></textarea>
                            </div>
                        </c-col>
                    </c-row>
                </c-container>
            </div>
            <div *ngIf="vuln.cvssScoreList !== undefined">
                <button type="button" class="daily-vuln-dropdown-button col-12" (click)="toggleCVSS($event)">CVSSs</button>
                <div class="daily-vuln-content" [ngStyle]="{'max-height': (cvssactive ? '2000px' : '0')}">
                    <div class="nvip-form-horizontal-block">
                        <c-container>
                            <c-row>
                                <c-col>
                                     <button type="button" (click)="addCvss($event)">Add CVSS</button>
                                </c-col>
                            </c-row>
                        </c-container>
                    </div>
                    <div class="nvip-form-horizontal-block" *ngFor="let cvss of update.cvss; let cindex = index; trackBy:trackByIndex;">
                        <c-container>
                            <c-row>
                                <c-col>
                                    <div class="nvip-form-field nvip-radio">
                                        <label for="cvss">CVSS: </label>
                                        <div >
                                            <label>LOW </label> 
                                            <input type="radio" class="cvssRadios" name="cvssSeverityId1-{{cindex}}" [value]=5 [(ngModel)]="update.cvss[cindex].baseScore"> 
                                            <label>MEDIUM </label>
                                            <input type="radio" class="cvssRadios" name="cvssSeverityId2-{{cindex}}" [value]=2 [(ngModel)]="update.cvss[cindex].baseScore"> 
                                            <label>HIGH </label> 
                                            <input type="radio" class="cvssRadios" name="cvssSeverityId3-{{cindex}}" [value]=1 [(ngModel)]="update.cvss[cindex].baseScore"> 
                                            <label>CRITICAL</label> 
                                            <input type="radio" class="cvssRadios" name="cvssSeverityId4-{{cindex}}" [value]=4 [(ngModel)]="update.cvss[cindex].baseScore"> 
                                            <label>N/A</label>
                                            <input type="radio" class="cvssRadios" name="cvssSeverityId5-{{cindex}}" [value]=3 [(ngModel)]="update.cvss[cindex].baseScore">
                                        </div>
                                    </div>
                                </c-col>
                                <c-col>
                                    <div class="nvip-form-field">
                                        <label for="impact">Impact Score: </label>
                                        <input id="impact" name="impact{{cindex}}" [(ngModel)]="update.cvss[cindex].impactScore" placeholder="">
                                    </div>
                                </c-col>
                                <!-- <c-col>
                                     <button type="button" (click)="removeCvss($event, cindex)">Delete</button> TODO:
                                </c-col> -->
                            </c-row>
                        </c-container>
                    </div>
                </div>
            </div>
            <div *ngIf="vuln.vdoList !== undefined">
                <button type="button" class="daily-vuln-dropdown-button col-12" (click)="toggleVDO()">VDOs</button>
                <div class="daily-vuln-content" [ngStyle]="{'max-height': (vdoactive ? '2000px' : '0')}">
                    <div>
                        <table cTable responsive>
                            <thead>
                                <tr class="nvip-review-select-header">
                                    <th scope="col">
                                        <strong>Show/Hide</strong>
                                    </th>
                                    <th scope="col">
                                        <strong>VDO Label</strong>
                                    </th>
                                    <th scope="col">
                                        <strong>Noun Group:</strong>
                                    </th>
                                    <th scope="col">
                                        <strong>Confidence:</strong>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let vdo of vdoMap | keyvalue" class="{{(getIsActive(vdo.key) === true) ? 'nvip-review-select-active' : 'nvip-review-select'}}">
                                    <td><input type="checkbox" name="{{vdo.value.label}}" [checked]="getIsActive(vdo.key)" (change)="toggleActive(vdo.key)" ></td>
                                    <td><span>{{ vdo.value.label }}</span></td>
                                    <td >{{ vdo.value.group }}</td>
                                    <td>{{ getVdoConfidence(vdo.value.label) }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div *ngIf="vuln.cpes !== undefined">
                <button type="button" class="daily-vuln-dropdown-button col-12" (click)="toggleAffProd()">Affected Releases</button>
                <div class="daily-vuln-content" [ngStyle]="{'max-height': (aractive ? '2000px' : '0')}">
                    <div class="nvip-form-horizontal-block" *ngFor="let affrel of update.affprods; let aindex = index;">
                        <div class="nvip-form-field col-6" style="overflow: auto;">
                            {{affrel.cpe}}
                        </div>
                        <div class="nvip-form-field col-6">
                            <button type="button" (click)="removeCPE(aindex)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nvip-form-btn-ctn col-12">
                <button class="nvip-button nvip-form-btn col-3"><span>Update</span></button>
            </div>
        </form>
    </div>
</div>
