<!--
  Copyright 2021 Rochester Institute of Technology (RIT). Developed with
  government support under contract 70RCSA22C00000008 awarded by the United
  States Department of Homeland Security for Cybersecurity and Infrastructure Security Agency.

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the “Software”), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in
  all copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-->

<div id="nvipContent" class="nvip-content-container col-12">
    <div class="row justify-content-center" [hidden]="registerSelected">
        <div id="loginPanel" class="login-border">
            <div class="login-form-header col-11">
                <p class="login-header">
                    NVIP Login
                    <!-- <fa-icon
                    [icon]="faTimes"
                    aria-hidden="true"
                    [ngStyle]="{ float: 'right' }"
                    (click)="clearListener()"
                    ></fa-icon> -->
                </p>
                <p id="loginMessage" class="login-message" [hidden]="!incorrectLoginListener()">{{incorrectLoginListener()}}</p>
            </div>
            <form
                id="loginForm"
                class="col-11 nvip-login-form"
                #form="ngForm"
                (ngSubmit)="login(form)"
                name="form"
                role="form"
            >
                <div class="form-group col-12">
                    <label for="username">Username</label>
                    <fa-icon [icon]="faKey"></fa-icon>
                    <input
                        type="text"
                        name="username"
                        id="username"
                        class="form-control"
                        [(ngModel)]="credentials.username"
                        required
                    />
                    <span *ngIf="form.value.username == ''" class="help-block">Username is required</span>
                </div>
                <div class="form-group col-12">
                    <label for="password">Password</label>
                    <fa-icon [icon]="faLock"></fa-icon>
                        <input
                        type="password"
                        name="password"
                        id="password"
                        class="form-control"
                        [(ngModel)]="credentials.password"
                        required
                    />
                </div>
                <div class="form-actions col-12">
                    <button
                        class="login-submit-button btn btn-danger"
                        type="submit"
                        style="margin-left: 2em"
                        [disabled]="form.invalid || dataLoading"
                    >
                    Login
                    </button>
                    <img
                    [hidden]="!dataLoading"
                    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                    />
                    <a style="margin-left: 8em">
                        <button
                            class="login-submit-button btn btn-danger"
                            (click)="registerListener()"
                        >
                            Register
                        </button>
                    </a>
                </div>
            </form>
        </div>
    </div>
    <app-create-account (cancel)="clearListener()" [hidden]="!registerSelected" />
</div>