<div class="steps bg-creamy border">
    <div class="row  header mb-0" >
        <div class="col-md-12 py-1 px-2">
            <h4 class=" w-100 ">
                <a [href]="'#publisheddate'" data-bs-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                    <i class="fa fa-calendar-alt px-2"></i><span class="text-secondary">Published Date</span>
                </a>
            </h4>
        </div>
    </div>
    <div class="collapse show " [id]="'publisheddate'">
        <hr class="mt-0 pt-0">
        <div class="row pt-1 pb-5 px-3">
            <div class="col-md-12">
                <app-datepicker [input]="filterDates.fromDate" [name]="'fromDate'" [label]="'From Date'"
                    (dateChange)="filterDates.fromDate=$event;
                        this.filterDates.isTouched=true;
                        this.datesChange.emit(true)">
                </app-datepicker>
            </div>

            <div class="col-md-12">
                <app-datepicker [input]="filterDates.toDate" [name]="'toDate'" [label]="'To Date'"
                    (dateChange)="filterDates.toDate=$event;this.datesChange.emit(true)">
                </app-datepicker>

            </div>
        </div>
    </div>
</div>