<div class="faq-page sec-mar my-0">
    <div class="">
        <div class="row gy-5 justify-content-lg-between justify-content-center p-0">
            <div class="col-lg-3">
                <div class="faq-items">
                    <!-- Tab Nav Items -->
                    <ul class="nav nav-vertical nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation"
                            *ngFor="let item of groupedUrls | keyvalue; let i = index">
                            <button class="nav-link vertical"  id="item_{{i}}_tab'" data-bs-toggle="tab"
                                attr.data-bs-target="#item_{{i}}" type="button" role="tab"
                                attr.aria-controls="item_{{i}}" [attr.aria-selected]="i === 0 ? 'true' : 'false'"
                                [class.active]="i === 0">
                                {{ item.key }}
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <!-- Tab Content -->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade" *ngFor="let item of groupedUrls | keyvalue; let i = index"
                        id="item_{{i}}" role="tabpanel" attr.aria-labelledby="item_{{i}}_tab'" [class.active]="i === 0"
                        [class.show]="i === 0">
                        <div class="accordion" id="accordion_{{i}}">
                            <div class="accordion-item" *ngFor="let source of item.value; let j=index;">
                                <h6 class="accordion-header" id="header_{{i}}_{{j}}">
                                    <button class="accordion-button " [ngClass]="{'collapsed':j!=0}" type="button" data-bs-toggle="collapse"
                                        attr.data-bs-target="#url_{{i}}_{{j}}" aria-expanded="false" attr.aria-controls="url_{{i}}_{{j}}">
                                       {{j+1}} . {{item.key}}
                                    </button>
                                </h6>
                                <div id="url_{{i}}_{{j}}" class="accordion-collapse collapse" [ngClass]="{'show':j==0}"
                                    attr.aria-labelledby="header_{{i}}_{{j}}" attr.data-bs-parent="#accordion_{{i}}">
                                    <div class="accordion-body p-0">
                                        <pre>{{source.rawDescription}}</pre>
                                        <div class="row">
                                            <div class="col-md-3 text-white">
                                                Date Created :
                                            </div>
                                            <div class="col-md-9">
                                               <i class="fa fa-calendar-alt m-1"></i> {{source.createdDate | date }}
                                            </div>
                                            <div class="col-md-3 text-white">
                                                Date Modified :
                                            </div>
                                            <div class="col-md-9">
                                               <i class="fa fa-calendar-alt m-1"></i> {{source.lastModifiedDate| date }}
                                            </div>
                                            <div class="col-md-3 text-white">
                                                Source Url :
                                            </div>
                                            <div class="col-md-9">
                                                <a class="source-url" [href]="source.sourceUrl" target="_blank">
                                                    <i class=" fa fa-link m-1"></i> {{source.sourceUrl }}
                                                </a>
                                               
                                            </div>
                                        </div>
                                        
                      
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Additional content can be added here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>