.selectpicker{
    outline:0 none !important;
    padding: 0px;
    max-width: 100% !important;

    .custom-option{
        &:hover,&:focus,&:active{
            background: seagreen;
        }
        max-width: 100%;
    }
    &:focus{
        border-color:1px solid seagreen;
        box-shadow: none;
        outline: 0 none;
    }
}



