svg{
    display: block;
    margin: auto;
}

/*
.node circle{

    stroke: $card-border-color;
    stroke-width: 3px;
}
*/


.node text{ font: 12px sans-serif; }

.link{
    fill: none;
    stroke: darken($color:$card-border-color, $amount: 10%) ;
    stroke-width: 2px;
}